.about__image {
    /* Center the image horizontally */
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* TODO: box shadow in dark mode */
    box-shadow: 0 1rem 25px rgb(0 0 0 / 10%), 0 50px 60px rgb(0 0 0 / 10%);
    border-radius: .25rem;
}