@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Montserrat&family=Poppins');

/* || GENERAL */

:root {
    --light-bg: #FDFDFC;
    --light-text: #0F0E18;

    --dark-bg: #181621;
    --dark-text: #eeeded;
}

body {
    --text-font: var(--bs-body-font-family);
    --accent-font: "Roboto Mono", var(--bs-body-font-family);

    --bg-color: var(--light-bg);
    --text-color: var(--light-text);
    --text-muted-color: #AAACA5;
    --badge-gradient: linear-gradient(90deg, #88AB96, #9FDDD9);
    --hero-icon-gradient: linear-gradient(135deg, #ee9bec, #79d7d0);
    --link-color: #598C51;
    --link-hover-color: #88C6A4;
}

body.dark {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
    --text-muted-color: #AAACA5;
    --badge-gradient: linear-gradient(90deg, #88AB96, #9FDDD9);
    --hero-icon-gradient: linear-gradient(135deg, #d779d5, #4fbbb2);
    --link-color: #88C6A4;
    --link-hover-color: #598C51;
}

body {
    font-family: var(--text-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: var(--accent-font);
    font-weight: bold;
}

a {
    color: var(--link-color);
}

/* Separate these rules because table of contents links use the .link class, but we don't want them to have the default colour */
a, .link {
    transition: color 100ms ease-out;
}

a:hover, .link:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

code {
    font-size: initial;
}

figcaption {
    font-size: 0.9em;
    padding: 0 0.5rem;
    opacity: 80%;
}

/* || UTILITIES */

.icon-container {
    display: flex;
    gap: 1rem;
}
