.hero {
    /*background-color: black;*/
    color: white;
}

.hero__text {
    position: relative;
    top: 40%;
    z-index: 5;
}

.hero__icon-container {
    justify-content: end;
}

.hero__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background: linear-gradient(135deg, #ee9bec, #79d7d0);
    opacity: 75%;

    /* Animation */
    box-shadow: inset 0 0 0 30px var(--bg-color);
    transition: box-shadow 300ms ease-out;
}

.hero__icon-wrapper:hover {
    box-shadow: inset 0 0 0 0 var(--bg-color);
    opacity: 100%;
}

.hero__icon {
    fill: var(--text-color);
    stroke: var(--text-color);
}

.hero__canvas-container {
    display: block;
    position: absolute;
    z-index: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}