.projects__subtitle {
    font-family: var(--accent-font);
    font-style: italic;
}

.project-card__image {
    width: 100%;
    border-radius: .25rem;
}

.project-card__details {
    font-family: var(--accent-font);
    color: var(--text-muted-color);
}

.project-card__title {
    /* Override default link colour and underline */
    color: inherit;
    text-decoration: none;
}

.project-card__technology {
    background: var(--badge-gradient);
    font-size: 0.9em;
    color: var(--bg-color);
}